#haha-17 {
  font-size: 12px;
}
#main2 {
  color: #000;
}
#main3 {
  color: #000;
}
#haha-28 {
  font-size: 12px;
}
#main2 {
  color: #000;
}
#main3 {
  color: #000;
}
#main-sub {
  color: #000;
}
#main {
  color: #000;
}
